  
<%- include("header") -%>

<h1>This is the about page.</h1>
<p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Expedita distinctio reiciendis incidunt in vel voluptatum, temporibus magni obcaecati sunt autem amet iure non, voluptas eveniet qui saepe doloremque reprehenderit. Unde quos quod maiores, molestiae qui eos aliquam deserunt architecto asperiores?</p>

  
<%- include("footer") -%>

<!-- without these header and footer tags , no styles will be applied to the about page -->